name: Auto Update IPTV

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install qrcode pillow

      - name: Run update script
        run: python update.py

      - name: Commit and push
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          git add .
          git commit -m "Zero-Error Update: Global Shopping Filtered" || echo "No changes to commit"
          git push
